.top {
    -fx-background-color: rgb(190, 6, 62);
}

.main {
    -fx-background-color: rgb(238, 144, 214);

}

.left {
    -fx-background-color: rgb(131, 6, 64);

}

.bottom {
    -fx-background-color: rgb(128, 0, 90);
}



.btn-login {
    -fx-background-color: rgb(0, 0, 0);
    -fx-background-radius: 25px;
}

.btn-login:hover {
    -fx-background-color: rgb(238, 144, 210);
}

.btn-cancelar:pressed {
    -fx-background-color: rgb(100, 0, 50);
}

.btn-cancelar {
    -fx-background-color: rgb(0, 0, 0);
    -fx-background-radius: 25px;
}

.btn-cancelar:hover {
    -fx-background-color: rgb(235, 144, 238);
}

.btn-login:pressed {
    -fx-background-color: rgb(100, 0, 58);
}

.btn-menu-selected {
    -fx-background-color: rgb(238, 144, 230);
    -fx-background-radius: 0;
}
.btn-menu {
    -fx-background-color: rgb(165, 8, 118);
    -fx-background-radius: 0;
}

.btn-menu:hover {
    -fx-background-color: rgb(238, 144, 225);
}

.btn-menu:pressed {
    -fx-background-color: rgb(97, 0, 100);
}

.btn-toolbar {
    -fx-background-color: rgb(238, 144, 196);
    -fx-background-radius: 0;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.btn-toolbar:hover {
    -fx-background-color: rgb(255, 208, 235);
}

.btn-toolbar:pressed {
    -fx-background-color: rgb(100, 0, 78);
}

.avatar{
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-padding: 10;
    -fx-background-color: firebrick;
}

.google {
    -fx-background-color:  rgb(238, 144, 222);
    -fx-background-radius: 15px;
    -fx-border-color: rgb(128, 0, 107);
    -fx-border-radius: 15px;
    -fx-border-width:  1px;    
}

.erro-class {
    -fx-background-color:  red;
}